@font-face {
    font-family: 'AvantGarde';
    src: url('./AvantGarde.ttf') format('truetype');
    text-rendering: optimizeLegibility;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'AvantGarde';
    src: url('./AvantGarde-700.ttf') format('truetype');
    text-rendering: optimizeLegibility;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'AvantGarde';
    src: url('./AvantGarde-700-italic.ttf') format('truetype');
    text-rendering: optimizeLegibility;
    font-weight: 700;
    font-style: italic;
}
